--extra-index-url https://download.pytorch.org/whl/cu126
transformers
torch
torchaudio
torchvision
flash-attn --no-build-isolation

rich
openai
joblib
triton
seqeval
datasets
accelerate
aiolimiter
bitsandbytes